.about-header {
  background-image: url(".././assets/images/about/mobile/bg-pattern-hero-about-mobile.svg");
  background-color: var(--peach);
  background-size: 200%;
  background-position: -120px -70px;
  background-repeat: no-repeat;
}

.peach-text {
  color: var(--peach);
}

.talent-bg {
  background-image: url(".././assets/images/shared/desktop/bg-pattern-three-circles.svg");
  background-color: var(--lightPeach);
  background-size: 150%;

  background-repeat: no-repeat;
}

.peach-btn {
  background-color: var(--peach);
  color: var(--white);
  width: 152px;
  height: 56px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}

//MD SCREENS//
@media only screen and (min-width: 768px) {
  .about-header {
    background-size: 250%;
    background-position: -1350px -400px;
    background-repeat: no-repeat;
  }
  .talent-bg {
    background-size: 80%;
    background-position: right bottom;
  }
}

@media only screen and (min-width: 1280px) {
  .about-header {
    background-image: url(".././assets/images/about/desktop/bg-pattern-hero-about-desktop.svg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }
  .talent-bg {
    background-size: cover;
    background-position: -100px;
  }
}
