footer {
  background-color: var(--black);
  height: 100%;
}

.footer-link {
  a {
    font-family: Jost;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    color: var(--lightGrey);
  }
}

@media only screen and (min-width: 768px) {
}
