.home-header {
  background-image: url(".././assets/images/home/desktop/bg-pattern-hero-home.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--peach);
  height: 100%;
  overflow: hidden;
}

.home-title,
.contact-title {
  font-size: 32px;
  line-height: 36px;
}

.paragraph-text {
  font-size: 15px;
  line-height: 25px;
}

.white-btn {
  background-color: var(--white);
  color: var(--black);
  width: 152px;
  height: 56px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0px !important;
}

.box {
  color: var(--white);
  border-radius: 15px;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

.box-bg {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: absolute;
  z-index: -1;
}

.web-design-box,
.app-design-box,
.graphic-design-box {
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

// .box::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.5);
//   border-radius: 15px;
//   z-index: -1;
//   transition: background-color 0.3s ease;
// }

// .box:hover::before {
//   background-color: hsl(11, 73%, 66%, 0.5);
// }

.web-design-box {
  background-image: url(".././assets/images/home/mobile/image-web-design.jpg");
}

.app-design-box {
  background-image: url(".././assets/images/home/mobile/image-app-design.jpg");
}

.graphic-design-box {
  background-image: url(".././assets/images/home/mobile/image-graphic-design.jpg");
}

.box-title {
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.4px;
}

.box-subtitle {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 5px;
}

.right-circle-bg {
  background-image: url(".././assets/images/about/desktop/bg-pattern-hero-about-desktop.svg");
  background-size: contain;
}

.left-circle-bg {
  background-image: url(".././assets/images/shared/desktop/bg-pattern-small-circle.svg");
  background-size: contain;
}

.bottom-circle-bg {
  background-image: url(".././assets/images/contact/desktop/bg-pattern-hero-desktop.svg");
  background-size: contain;
}

.top-circle-bg {
  background-image: url(".././assets/images/home/desktop/bg-pattern-hero-home.svg");
  background-size: contain;
}

.contact-box {
  background-image: url(".././assets/images/shared/mobile/bg-pattern-design-pages-intro-mobile.svg");
  background-color: var(--peach);
  background-size: 200%;
  border-radius: 15px;
  background-position: -270px;
  background-repeat: no-repeat;
}

.dark-text {
  color: var(--darkGrey);
}

.light-text {
  color: var(--lightGrey);
}

.bg-shape {
  background-color: var(--lightGrey);
  width: 1006px;
  height: 594px;
  opacity: 0.5;
  border-radius: 297px 297px 297px 0px;
}

//MD SCREENS//
@media only screen and (min-width: 768px) {
  .home-title {
    font-size: 48px;
    line-height: 48px;
  }
  .paragraph-text {
    font-size: 16px;
    line-height: 25px;
  }
  .box-title {
    font-size: 40px;
    letter-spacing: 2px;
  }
  .web-design-box {
    background-image: url(".././assets/images/home/tablet/image-web-design.jpg");
  }

  .app-design-box {
    background-image: url(".././assets/images/home/tablet/image-app-design.jpg");
  }

  .graphic-design-box {
    background-image: url(".././assets/images/home/tablet/image-graphic-design.jpg");
  }

  .contact-title {
    font-size: 40px;
  }

  .contact-box {
    background-image: url(".././assets/images/shared/tablet/bg-pattern-design-pages-intro-tablet.svg");
    background-size: 150%;
    background-position: -150px;
  }
}

//XL SCREENS//
@media only screen and (min-width: 1280px) {
  .home-header {
    background-position: right;
  }
  .web-design-box {
    background-image: url(".././assets/images/home/desktop/image-web-design-large.jpg");
  }

  .app-design-box {
    background-image: url(".././assets/images/home/desktop/image-app-design.jpg");
  }

  .graphic-design-box {
    background-image: url(".././assets/images/home/desktop/image-graphic-design.jpg");
  }
  .contact-box {
    background-image: url(".././assets/images/shared/desktop/bg-pattern-call-to-action.svg");
    background-size: cover;
    background-position: 0px;
  }
}
